In [1]:
import pandas as pd
import pycaret

In [2]:
#path="./saved_data/1_to_train.pkl"#to train the first model
path="./saved_data/2_to_train.pkl"#to train the second model

In [3]:
datadf = pd.read_pickle(path)

In [4]:
from pycaret.classification import *

In [5]:

clf = setup(
    data=datadf, 
    target='target',
    train_size=0.8,
    normalize=True,
)

In [6]:
compare_models(sort='AUC')

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=1536, verbose=0,
                       warm_start=False)

In [7]:
m=create_model('lr')

In [8]:
tuned_m=tune_model(m,n_iter=100)

In [9]:
tuned_m

LogisticRegression(C=6.451000000000001, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=1000, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1536, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)